body {
  font-family: "League Spartan";
  font-size: 12px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

.container__firstRow {
  display: flex;
}

.container__firstRow .imageContainer {
  background: url("./images/desktop-image-hero-1.jpg");
  width: 840px;
  height: 534px;
}

.container__firstRow .imageContainer .navPanel {
  padding: 40px 60px;
  display: flex;
}

.container__firstRow .imageContainer .navPanel .logo {
  height: 12px;
  padding-top: 15px;
}

.container__firstRow .imageContainer .navPanel ul {
  color: white;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.container__firstRow .imageContainer .navPanel ul li {
  gap: 10px;
  color: white;
}

.container__firstRow .imageContainer .navPanel ul li:hover {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  cursor: pointer;
}

.container__firstRow .description {
  display: flex;
  flex-direction: column;
  width: 600px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.container__firstRow .description .content {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding-left: 50px;
}

.container__firstRow .description .content__headline {
  font-size: 42px;
}

.container__firstRow .description .content__text {
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  margin: 0;
  padding-bottom: 20px;
  width: 370px;
  color: #a1a1a1;
}

.container__firstRow .description .content__link {
  display: flex;
  gap: 25px;
}

.container__firstRow .description .content__link .link {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-size: 14px;
  letter-spacing: 10px;
}

.container__firstRow .description .content__link .link:hover {
  color: #a1a1a1;
}

.container__firstRow .description .slider {
  display: flex;
  padding-top: 8px;
  position: relative;
  top: 90px;
  right: 235px;
}

.container__firstRow .description .slider .sliderLeft {
  background-color: black;
  padding: 20px 25px;
  color: #a1a1a1;
}

.container__firstRow .description .slider .sliderLeft:hover {
  background-color: #454545;
  cursor: pointer;
}

.container__firstRow .description .slider .sliderRight {
  background-color: black;
  padding: 20px 26px;
  color: #a1a1a1;
}

.container__firstRow .description .slider .sliderRight:hover {
  background-color: #454545;
  cursor: pointer;
}

.container__secondRow {
  display: flex;
}

.container__secondRow .firstImage {
  background: url("./images/image-about-dark.jpg");
  width: 420px;
  height: 256px;
}

.container__secondRow .description2 {
  display: flex;
  flex-direction: column;
  width: 550px;
  line-height: 45px;
  justify-content: center;
}

.container__secondRow .description2__headline {
  padding: 0 55px;
  margin: 0;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.container__secondRow .description2__text {
  font-size: 14px;
  padding: 0 55px;
  line-height: 20px;
  color: #a1a1a1;
}

.container__secondRow .secondImage {
  background: url("./images/image-about-light.jpg");
  width: 420px;
  height: 256px;
}
